
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:ital@1&display=swap');
button, input {
  outline: none
}
.mainHeader {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.mainNav {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.mainNav:hover, .mainNav:focus {
 border-bottom: 2px solid #6DA6F2;
 border-radius: 4px 4px 0px 0px;
}
.navBar {
  display:grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 600px;
  height: 30px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
}
.addInput {
  padding-left: 12px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  width: 476px;
  height: 56px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.addInput:hover, .addInput:focus {
  border: 1px solid #6DA6F2
}
.addButton {
  float: right;
  width: 109px;
  height: 56px;
  background: #6DA6F2;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  border: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.addButton:hover, .addButton:focus {
  background: #70aeff;
}
.todoMain {
  margin: auto;
  width: 600px;
}
.todoContent {
  margin: auto;
  width: 600px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.checkBox {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
}
.delete {
  float: right;
  color: #BDBDBD;
  vertical-align: text-bottom;
  font-size: 24px;
  padding-right: 10px;
}
.delete:hover, .delete:focus {
  color: #6DA6F2;
}
