
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:ital@1&display=swap');
.header {
  width: 600px;
  margin:auto;
}
.h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}
.h1--title {
  font-size: 36px;
  line-height: 42px;
}
.h1--center {
  text-align: center;
}
.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: none;
  text-decoration: none;
  outline: none;
}
.button--primary {
  width: 109px;
  height: 56px;
  background: #2d5cc2;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  color: #FFFFFF;
}
.button--primary:hover, .button--primary:focus {
  background: #5f93d8;
}
.button--primary:focus {
  outline: dashed #2d5cc2;
}
.button__tab {
  background: none;
}
.button__tab:focus {
  outline: dashed #2d5cc2;
}
.button__tab:hover > div, .div__indicator,
.button__tab:focus > div, .div__indicator {
  background: #2d5cc2;
  height: 2px;
  border-radius: 4px 4px 0px 0px;
  margin-top:10px;
  margin-bottom:-1px;
  padding-top: 4px;
}
.button--right {
  float: right;
}
.button--text-right {
  text-align: right;
}
.button--delete-icon {
  background: none;
  color: #494949;
  vertical-align: text-bottom;
  font-size: 24px;
  padding-right: 10px;
  cursor: pointer;
}
.button--delete-icon:hover, .button--delete-icon:focus {
  color: #ad2d2d;
  outline: dashed #ad2d2d;
}
.button--delete {
  display: block;
  float: right;
  background: #ad2d2d;
  border-radius: 4px;
  width: 124px;
  height: 40px;
  color: #fff;
}
.button--delete:hover, .button--delete:focus {
  background: #d8544a;
}
.button--delete:focus {
  outline: dashed #ad2d2d;
}
.nav__tabs {
  display:grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  margin-bottom: 20px;
  width: 600px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
}
.input {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #323232;
  outline: none;
}
.input:hover, .input:focus {
  border: 2px solid #5f93d8
}
.input:focus {
  outline: dashed #2d5cc2;
}
.input--large {
  padding-left: 12px;
  width: 476px;
  height: 56px;
}
.label {
  vertical-align: text-top;
  word-break: break-all;
}
.checkbox__label {
  display: flex;
  justify-content: space-between;
}
.label__text-input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main {
  clear: both;
  margin: auto;
  width: 600px;
  min-height: 100vh;
}
.content {
  display: inline-block;
  clear: both;
  width: 600px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.span--line-through {
  text-decoration: line-through;
}
.checkBox {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
}
.checkBox:focus {
  outline: dashed #2d5cc2;
}
.icon--delete {
  vertical-align: text-top;
  font-size: 16px;
}
.icon--no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.footer {
  position: relative;
  width: 600px;
  height: 20px;
  bottom: 0px;
  margin:auto;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #494949;
}
@media only screen and (max-width: 768px) {
  .footer, .header, .input--large, .button--delete, .nav__tabs, .button--primary, .main, .content {
    width: 100%;
    margin: 0px;
    margin-top:15px;
  }
  .footer {
    margin-bottom: 50px;
  }
}

